/* ---------------------------------- Desktop Devices (1024px wide and down) */
@media (max-width: 1024px) {

    /* ------------------------------ index.html */
    #welcome-msg {
        right: 0;
    }

    #recipes {
        height: 860px;
    }

    .recipes-p {
        width: 100%;
    }

    .recipe,
    .thumbnail {
        transform: scale(0.8);
    }

    #recipe-mullet,
    #mullet-thumbnail {
        left: 30px;
    }

    #recipe-steak,
    #steak-thumbnail {
        right: 30px;
    }

    #recipe-bol,
    #bol-thumbnail {
        left: 30px;
        bottom: 50px;
    }

    #recipe-stirfry,
    #stirfry-thumbnail {
        right: 30px;
        bottom: 50px;
    }
}

/* ---------------------------------- Large Tablet Devices (968px wide and down) */
@media (max-width: 968px) {

    /* ------------------------------ index.html */
    .story-p h1 {
        margin: 80px 0 30px 40px;
    }
    
    .story-p p {
        margin: 0 0 30px 40px;
    }

    #recipe-mullet,
    #mullet-thumbnail {
        left: 0;
    }

    #recipe-steak,
    #steak-thumbnail {
        right: 0;
    }

    #recipe-bol,
    #bol-thumbnail {
        left: 0;
        bottom: 50px;
    }

    #recipe-stirfry,
    #stirfry-thumbnail {
        right: 0;
        bottom: 50px;
    }

    .quote {
        font-size: 18px;
    }
}

/* ---------------------------------- Medium Tablet Devices (896px wide and down) */
@media (max-width: 896px) {

    /* ------------------------------ index.html */
    #our-story {
        height: 750px;
    }

    .recipe,
    .thumbnail {
        transform: scale(0.7);
    }

    #recipe-mullet,
    #mullet-thumbnail {
        left: -20px;
    }

    #recipe-steak,
    #steak-thumbnail {
        right: -20px;
    }

    #recipe-bol,
    #bol-thumbnail {
        left: -20px;
        bottom: 50px;
    }

    #recipe-stirfry,
    #stirfry-thumbnail {
        right: -20px;
        bottom: 50px;
    }
}

/* ---------------------------------- Medium Tablet Devices (823px wide and down) */
@media (max-width: 823px) {
    
    /* ------------------------------ index.html */
    .logo {
        left: 20px;
    }

    .dh-symbol {
        right: 20px;
    }

    #navbar {
        font-size: 18px;
    }

    #welcome-msg {
        top: 40px;
        width: 55%;
    }

    .story-img {
        width: 40%;
        height: 500px;
        margin-top: 100px;
    }

    .story-p {
        width: 60%;
    }

    #recipes {
        height: 840px;
    }

    .recipe,
    .thumbnail {
        transform: scale(0.65);
    }

    #recipe-mullet,
    #mullet-thumbnail {
        left: -60px;
    }

    #recipe-steak,
    #steak-thumbnail {
        right: -60px;
    }

    #recipe-bol,
    #bol-thumbnail {
        left: -60px;
        bottom: 50px;
    }

    #recipe-stirfry,
    #stirfry-thumbnail {
        right: -60px;
        bottom: 50px;
    }

    .contact-us-container {
        width: 50%;
    }
}

/* ---------------------------------- Tablet Devices (736px wide and down) */
@media (max-width: 736px) {

    /* ------------------------------ index.html */
    #navbar {
        display: none;
    }

    .header {
        display: none;
    }

    .navigation-mobile {
        display: unset;
    }

    #intro {
        padding-top: 80px;
        height: 500px;
    }

    #welcome-msg {
        padding-top: 60px;
    }

    #welcome-msg h1 {
        font-size: 26px;
    }

    #welcome-msg p {
        font-size: 18px;
    }

    .navigation-mobile ul {
        width: 100%;
        height: 100vh;
        background-color: #fff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .navigation-mobile li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    .navigation-mobile a {
        font-size: 20px;
        color: #000;
    }

    .navigation-mobile ul.show {
        left: 0;
    }

    #our-story {
        height: 630px;
    }

    .story-p h1 {
        margin-top: 40px;
        font-size: 26px;
    }

    .story-p p {
        font-size: 18px;
    }

    #recipes {
        height: 700px;
    }

    .recipes-p p {
        width: 80%;
        font-size: 18px;
    }

    .recipe,
    .thumbnail {
        transform: scale(0.6);
    }

    #recipe-mullet,
    #mullet-thumbnail {
        left: -60px;
        top: 200px;
    }

    #recipe-steak,
    #steak-thumbnail {
        right: -60px;
        top: 200px;
    }

    #recipe-bol,
    #bol-thumbnail {
        left: -60px;
        bottom: 0;
    }

    #recipe-stirfry,
    #stirfry-thumbnail {
        right: -60px;
        bottom: 0;
    }

    .quote {
        padding-top: 30px;
        font-size: 17px;
    }

    .contact-us-container {
        width: 90%;
    }

    #email {
        font-size: 22px;
    }
}

/* ---------------------------------- Large Mobile Devices (540px wide and down) */
@media (max-width: 540px) {

    /* ------------------------------ index.html */
    .hero-image {
        background: url('../images/mobile-stirfry-hero.jpg') no-repeat center center;
        background-size: cover;
    }

    #welcome-msg {
        width: 75%;
        right: 0;
        padding-top: 55px;
    }
    
    #our-story {
        height: 1000px;
    }
    
    .story {
        display: block;
        width: 100%;
    }

    .story-p p {
        margin-right: 40px;
    }

    .story-img {
        top: 530px;
        z-index: -1;
        margin-top: 0;
    }

    #find-us {
        height: 1160px;
    }

    #locations {
        height: auto;
        width: 80%;
        left: 10%;
    }

    #google-map {
        width: 80%;
        left: 10%;
        height: 250px;
        top: 120px;
    }

    #locations h1 {
        padding-bottom: 300px;
    }

    #recipes {
        height: 1350px;
    }

    .recipe,
    .thumbnail {
        transform: scale(1);
        height: 240px;
        width: 75%;
        left: 12.5% !important; 
    }

    .thumbnail p {
        margin-top: 190px;
    }

    #recipe-mullet,
    #mullet-thumbnail {
        top: 250px;
    }

    #recipe-steak,
    #steak-thumbnail {
        top: 520px;
    }

    #recipe-bol,
    #bol-thumbnail {
        top: 790px;
    }

    #recipe-stirfry,
    #stirfry-thumbnail {
        top: 1060px;
    }

    .carousel {
        width: 100%;
    }

    #siteseal {
        bottom: 5px;
        right: 5px;
    }
}

/* ---------------------------------- Medium Mobile Devices (425px wide and down) */
@media (max-width: 425px) {

    /* ------------------------------ index.html */
    .mobile-logo {
        height: 40px;
        top: 20px;
        left: 50px;
    }

    .mobile-dh-symbol {
        height: 40px;
        top: 20px;
    }

    .menu-btn {
        right: 0;
    }

    #welcome-msg {
        width: 90%;
        left: 5%;
    }

    .story-p h1 {
        margin-left: 20px;
    }

    .story-p p {
        margin: 0 20px 20px 20px;
    }

    .story-img {
        top: 540px;
    }

    #find-us {
        height: 1200px;
    }

    .recipes-p p {
        width: 90%;
    }

    .recipe,
    .thumbnail {
        height: 240px;
        width: 90%;
        left: 5% !important; 
    }

    .thumbnail p {
        margin-top: 190px;
        font-size: 22px;
        margin-left: 20px;
    }

    #reviews {
        height: 450px;
    }

    .carousel {
        width: 100%;
        height: 350px;
    }

    footer {
        height: 280px;
    }

    #siteseal {
        bottom: 5px;
        right: 5px;
    }
}

/* ---------------------------------- Medium Mobile Devices (402px wide and down) */
@media (max-width: 402px) {

    /* ------------------------------ index.html */
    #our-story {
        height: 1100px;
    }

    .story-img {
        top: 630px;
    }

    #find-us {
        height: 1200px;
    }

    #google-map {
        width: 95%;
        left: 2.5%;
    }

    #locations {
        width: 95%;
        left: 2.5%;
    }

    #reviews {
        height: 480px;
    }

    .recipes-p p {
        width: 95%;
    }

    .carousel {
        height: 380px;
    }

    .quote {
        font-size: 16px;
    }
}

/* ---------------------------------- Small Mobile Devices (375px wide and down) */
@media (max-width: 375px) {

    /* ------------------------------ index.html */
    .mobile-logo {
        height: 35px;
        top: 25px;
    }

    #welcome-msg {
        padding-top: 40px;
    }

    #our-story {
        height: 1150px;
    }

    .story-img {
        top: 680px;
    }

    #google-map {
        width: 95%;
        left: 2.5%;
    }

    #locations {
        width: 95%;
        left: 2.5%;
    }
}

/* ---------------------------------- Extra Small Mobile Devices (320px wide and down) */
@media (max-width: 320px) {

    /* ------------------------------ index.html */
    #our-story {
        height: 1200px;
    }

    .story-img {
        top: 730px;
    }

    #find-us {
        height: 1250px;
    }

    .thumbnail p {
        font-size: 20px;
    }

    .quote {
        font-size: 15px;
    }

    #email {
        font-size: 19px;
    }
}