/* ---------------------------------- Larger Devices (1112px wide and down) */
@media (max-width: 1112px) {
    
    /* ------------------------------ index.html */
    #welcome-msg {
        margin-left: 450px;
    }

    .story-p {
        font-size: 17px;
    }

    .recipes-p {
        width: 80%;
    }

    .recipe-container {
        width: 80%;
    }
}

/* ---------------------------------- Larger Devices (1065px wide and down) */
@media (max-width: 1065px) {

    /* ------------------------------ index.html */
    #navbar li {
        font-size: 20px;
    }

    .hero-image {
        height: 480px;
    }

    #welcome-msg {
        margin-left: 400px;
        width: 500px;
    }

    #welcome-msg p {
        margin: 20px;
        font-size: 18px;
    }

    .story p {
        font-size: 16px;
    }

    .recipes-p {
        width: 83%;
    }

    .reviews-container {
        width: 85%;
    }

    .contact-us-container {
        width: 60%;
    }

    /* ------------------------------ mullet-recipe.html */
    .recipe-hero {
        height: 1220px;
    }

    .recipe-container {
        width: 88%;
    }

    /* ------------------------------ bolognese-recipe.html */
    .bolognese {
        height: 1400px;
    }

    .bolognese-container {
        width: 90%;
    }
}

/* ---------------------------------- Large Devices (968px wide and down) */
@media (max-width: 968px) {

    /* ------------------------------ index.html */
    .navigation-mobile ul {
        margin-right: 20px;
    }

    .navigation-mobile a {
        font-size: 17px;
    }
    
    #navbar {
        height: 60px;
    }

    #navbar li {
        font-size: 16px;
        line-height: normal;
        padding-top: 20px;
    }

    .story-img {
        right: 30px;
    }

    .story-p {
        left: 30px;
        width: 500px;
    }

    #locations {
        width: 85%;
        left: 7.5%;
    }

    #recipes {
        height: 860px;
    }

    .recipes-p {
        width: 85%;
        height: 800px;
    }

    #bol-carousel,
    #bol-thumbnail,
    #mullet-carousel,
    #mullet-thumbnail,
    #steak-carousel,
    #steak-thumbnail,
    #stirfry-carousel,
    #stirfry-thumbnail {
        height: 200px;
        width: 320px;
    }

    .thumbnail p {
        font-size: 20px;
        margin-top: 160px;    
    }

    .contact-us-container {
        width: 60%;
    }

    /* ------------------------------ mullet-recipe.html */
    #recipe-carousel {
        width: 370px;
        height: 230px;
    }
}

/* ---------------------------------- Medium Devices (896px wide and down) */
@media (max-width: 896px) {
    
    /* ------------------------------ index.html */
    h1 {
        font-size: 35px !important;
    }

    .instagram-msg {
        font-size: 13px;
    }

    .hero-image {
        background-attachment: scroll;
    }

    #welcome-msg {
        margin: 0 auto;
        margin-top: 35px;
    }

    #navbar li {
        width: 16.5%;
        margin: 0 auto;
        font-size: 14px;
    }

    #our-story {
        height: 860px;
        position: relative;
    }

    .story-p {
        width: 90%;
        left: 5%;
        height: 760px;
    }

    .story-img {
        width: 70%;
        right: 15%;
        top: 310px;
    }

    #find-us {
        background-attachment: scroll;
    }

    #locations {
        width: 90%;
        left: 5%;
    }

    #recipes {
        height: 720px;
    }

    .recipes-p {
        width: 90%;
        height: 660px;
    }

    #bol-carousel,
    #bol-thumbnail,
    #mullet-carousel,
    #mullet-thumbnail,
    #steak-carousel,
    #steak-thumbnail,
    #stirfry-carousel,
    #stirfry-thumbnail {
        height: 150px;
        width: 270px;
    }

    .thumbnail p {
        font-size: 16px;
        margin-top: 120px;    
    }

    #reviews {
        height: 830px;
        background-attachment: scroll;
    }

    .reviews-container {
        width: 90%;
        height: 730px;
    }

    .reviews-container p {
        font-size: 18px;
    }

    .review-quotes {
        margin-top: 40px;
    }

    .contact-us-container {
        width: 80%;
    }

    footer {
        height: 250px;
    }

    .footer-instagram {
        width: 40%;
        margin: 0 auto;
        position: relative;
    }

    #siteseal {
        left: 41.25%;
        top: 105px;
    }

    .footer-content {
        width: 40%;
        padding-top: 180px;
    }

    /* ------------------------------ mullet-recipe.html */
    .recipe-hero {
        height: 1560px;
    }

    .recipe-container {
        margin-top: 40px;
        height: 1480px;
    }

    .ingredients {
        padding-top: 260px;
    }

    #recipe-carousel {
        top: 185px;
        right: 150px;
    }

    /* ------------------------------ steak-recipe.html */
    .steak-carousel-large {
        top: 220px !important;
    }

    /* ------------------------------ stirfry-recipe.html */
    .stirfry-container {
        height: 1380px;
    }

    .stirfry-page {
        height: 1470px;
    }

    /* ------------------------------ bolognese-recipe.html */
    .bolognese {
        height: 1690px;
    }

    .bolognese-container {
        height: 1600px;
    }

    /* ------------------------------ 404.html */
    .page-404 {
        height: 300px !important;
        padding-top: 0 !important;
    }
}

/* ---------------------------------- Medium Devices (767px wide and down) */
@media (max-width: 767px) {
    
    #intro {
        margin-top: 78px;
    }

    .navigation-mobile {
        display: unset;
    }
    
    .navigation-mobile #icon {
        display: block;
    }

    .navigation-mobile ul {
        width: 100%;
        height: 100vh;
        background-color: #1d1d1b;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .navigation-mobile li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navigation-mobile a {
        font-size: 20px;
    }

    .navigation-mobile ul.show {
        left: 0;
    }

    #navbar {
        display: none;
    }

    .header {
        display: none;
    }

}

/* ---------------------------------- Large Mobile Devices (425px wide and down) */
@media (max-width: 425px) {

    /* ------------------------------ index.html */
    #welcome-msg {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .hero-image {
        height: 470px;
    }

    .story-p {
        margin-top: 30px;
        height: 800px;
        width: 100%;
        left: 0;
    }

    .story-img {
        top: 440px;
        right: 10%;
        width: 80%;
        height: 200px;
    }

    #our-story {
        height: 860px;
    }

    #find-us {
        height: 1110px;
    }

    #locations {
        margin-top: 30px;
        width: 100%;
        left: 0;
        height: 1050px;
    }

    #google-map {
        width: 80%;
        margin: 0;
        margin-left: 43px;
        height: 200px;
    }

    #locations a {
        font-size: 17px;
    }

    #locations p {
        font-size: 13px;
    }

    .location {
        margin-bottom: 20px;
    }

    #recipes {
        height: 1200px;
    }

    .recipes-p {
        width: 100%;
        height: 1170px;
        margin-top: 30px;
    }

    .recipes-p p {
        font-size: 15px;
        margin-top: 30px;
    }

    #bol-carousel,
    #bol-thumbnail,
    #mullet-carousel,
    #mullet-thumbnail,
    #steak-carousel,
    #steak-thumbnail,
    #stirfry-carousel,
    #stirfry-thumbnail {
        height: 180px;
        width: 80%;
        left: 10%;
    }

    #mullet-carousel, #mullet-thumbnail {
        margin-top: 0;
    }

    #steak-carousel, #steak-thumbnail {
        margin-top: 220px;
    }

    #stirfry-carousel, #stirfry-thumbnail {
        margin-bottom: 220px;
    }

    .thumbnail p {
        margin-top: 150px;
        font-size: 18px;
    }

    #reviews {
        padding-top: 30px;
        height: 890px;
    }

    .reviews-container {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        height: 830px;
    }

    .reviews-container p {
        font-size: 15px;
    }

    #contact-us {
        height: 260px;
    }

    .contact-us-container {
        margin-top: 30px;
        width: 95%;
        height: 230px;
    }

    .contact-us-container h1 {
        padding-top: 20px;
    }

    .contact-us-container p {
        font-size: 15px;
    }

    .email {
        font-size: 20px !important;
    }

    .footer-content {
        width: 100%;
        font-size: 15px;
    }

    .footer-instagram {
        transform: scale(0.8);
    }

    #siteseal {
        width: 30%;
        left: 35%;
    }
}