@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lobster&display=swap');

/* ---------------------------------- General Stylings */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* ----------------------------------- Header */
.header {
    background-color: #1d1d1b;
    height: 200px;
    width: 100%;
}

.logo {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
}

/* ----------------------------------- Divider */
.divider {
    background-color: #c11734;
    width: 100%;
    height: 2px;
}